*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    width:100vw;
    height:100vh;
    background: rgb(2,0,36);
    background: rgb(2,0,36);
    background: rgb(221,13,13);
    background: linear-gradient(135deg, rgba(221,13,13,1) 14%, rgba(216,228,12,1) 35%, rgba(233,11,236,1) 58%, rgba(83,91,248,1) 85%, rgba(0,212,255,1) 100%);
    background-size: 400% 400%;
    animation:animateBg 2s ease infinite;
}
@keyframes animateBg{
  0%
  {
    background-position:0% ;
  }
  50%
  {
    background-position: 100%;
  }
  100%
  {
    background-position: 0% ;
  }
}